* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow: hidden;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.line:nth-child(even) {
  -webkit-transform: translateX(-5.5555555556vw);
          transform: translateX(-5.5555555556vw);
}
.line:nth-child(n+2) {
  margin-top: -2.7777777778vw;
}
.line .item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 11.1111111111vw;
  height: 11.1111111111vw;
  background: #000;
  outline: 2px solid #fff;
  -webkit-clip-path: polygon(50% 5%, 95% 25%, 95% 75%, 50% 95%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 5%, 95% 25%, 95% 75%, 50% 95%, 5% 75%, 5% 25%);
}