.p0 {
  background-color: red;
}

.p1 {
  background-color: orange;
}

.p2 {
  background-color: yellow;
}

.p3 {
  background-color: green;
}

.p4 {
  background-color: blue;
}

.p5 {
  background-color: skyblue;
}