.foo {
    color: aqua;
    font-size: 30px;
}

.marquee {
    /* 文本不换行 */
    white-space: nowrap;
    /* 容器查询 */
    container-type: inline-size;
    width: 200px;
    overflow: hidden;
    resize: horizontal;
    background-color: pink;
}
.marquee span {
    animation: marquee 3s linear infinite both alternate;
}
@keyframes marquee {
    to {
        transform: translateX(min(100cqw - 100%, 0px));
    }
}