.oneLineOverview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.oneLineOverview .pay {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.oneLineOverview .pay .type {
  font-size: 10px;
  margin-right: 2.5px;
  color: #e56a77;
}
.oneLineOverview .pay .money {
  color: var(--ka-text-color);
  font-size: 13px;
}
.oneLineOverview .income {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.oneLineOverview .income .type {
  font-size: 10px;
  margin-right: 2.5px;
  color: #4f827c;
}
.oneLineOverview .income .money {
  color: var(--ka-text-color);
  font-size: 13px;
}
.oneLineOverview .balance {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 5px;
  text-align: right;
}
.oneLineOverview .balance .money {
  line-height: 17px;
  margin-right: 6px;
  font-size: 17px;
}
.oneLineOverview .balance .type {
  font-size: 10px;
  color: var(--ka-text-color);
}