.twoLineOverview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
}
.twoLineOverview .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.twoLineOverview .item .money {
  height: 24px;
  line-height: 24px;
  margin-bottom: 5px;
  font-size: 18px;
}
.twoLineOverview .item .type {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
}7c;
}
.oneLineOverview .income .money {
  color: var(--ka-text-color);
  font-size: 13px;
}
.oneLineOverview .balance {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 5px;
  text-align: right;
}
.oneLineOverview .balance .money {
  line-height: 17px;
  margin-right: 6px;
  font-size: 17px;
}
.oneLineOverview .balance .type {
  font-size: 10px;
  color: var(--ka-text-color);
}