@font-face {
  font-family: "iconfont"; /* Project id 3442487 */
  src: url('iconfont.woff2?t=1661930645620') format('woff2'),
       url('iconfont.woff?t=1661930645620') format('woff'),
       url('iconfont.ttf?t=1661930645620') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up-circle:before {
  content: "\e665";
}

.icon-arrow-right-circle:before {
  content: "\e666";
}

.icon-arrow-left-circle:before {
  content: "\e667";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-down-circle:before {
  content: "\e66c";
}

.icon-direction-right:before {
  content: "\e66d";
}

.icon-direction-up:before {
  content: "\e66e";
}

.icon-direction-left:before {
  content: "\e66f";
}

.icon-error:before {
  content: "\e670";
}

.icon-prompt:before {
  content: "\e67b";
}

.icon-stop:before {
  content: "\e67f";
}

.icon-success:before {
  content: "\e680";
}

.icon-time:before {
  content: "\e681";
}

.icon-zoom-in:before {
  content: "\e683";
}

.icon-zoom-out:before {
  content: "\e684";
}

.icon-delete-filling:before {
  content: "\e689";
}

.icon-success-filling:before {
  content: "\e68b";
}

.icon-prompt-filling:before {
  content: "\e68c";
}

.icon-un-more-border-o:before {
  content: "\e6bd";
}

.icon-gengduomore-fill:before {
  content: "\e7c0";
}

.icon-xiugai-copy:before {
  content: "\e606";
}

.icon-icon:before {
  content: "\e6a0";
}

.icon-zitiyulan:before {
  content: "\ec86";
}

.icon-zuofei1:before {
  content: "\e6e6";
}

.icon-huiche:before {
  content: "\e651";
}

.icon-sousuo1:before {
  content: "\e677";
}

.icon-3zuidahua-1:before {
  content: "\e65d";
}

.icon-3zuidahua-3:before {
  content: "\e692";
}

.icon-wushuju:before {
  content: "\e650";
}

.icon-zhuceshibai:before {
  content: "\e643";
}

.icon-queshengye_qingdengdai:before {
  content: "\e75f";
}

.icon-chuangwei:before {
  content: "\e68e";
}

.icon-zuofei:before {
  content: "\e63a";
}

.icon-dayin-dayinji:before {
  content: "\e619";
}

